@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #138493;
}

.bg-steel-ligth {
  background-color: #9CCACA;
}

.bg-steel-2 {
  background-color: #EAF1F2;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.order {
  color: #b1bbc1;
}

.order:hover {
  color: black;
  text-decoration: none;
}

.order-active {
  color: black;
}

.bg-ts-failed {
    background-color: red;
}

.bg-ts-warning {
    background-color: #d1bf12;
}

.bg-ts-error {
    background-color: deeppink;
}

.bg-ts-cancelled {
    background-color: #444444;
}

.bg-ts-unknown, .bg-ts-not-available {
    background-color: #7b7b7b;
}

.bg-ts-passed {
    background-color: #317b34;
}

.bg-ts-waiting {
    background-color: #7b7b7b;
}
