{% extends "progress_tracking/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h2 class="article-title">{{ machine.machine_name }}</h2>
            <p class="article-content">
                <h2>Master scenarios:</h2>
                <ul>
                    {% for dry_run_data in machine.dry_run_datas.all %}
                        <li class="h3">{{ dry_run_data.master_scenario }} - {{ dry_run_data.timestamp }}</li>
                            <ul>
                                {% for scenario in dry_run_data.master_scenario.scenarios.all %}
                                    <li class="h4">{{scenario }}</li>
                                        <ul>
                                            {% for test in scenario.tests.all %}
                                                <li>{{ test }} <span class="small">{{ test.status }}</span></li>
                                                    {% empty %}
                                                <li>No tests</li>
                                            {% endfor %}
                                        </ul>
                                {% empty %}
                                    <li>No scenarios</li>
                                {% endfor %}
                            </ul>
                    {% empty %}
                        <li>No master scenarios</li>
                    {% endfor %}
                </ul>
            </p>
        </div>
    </article>
{% endblock content %}