{% extends "progress_tracking/base.html" %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="container d-flex justify-content-between">
                    <h4 class="d-inline-block mt-2">Machines ({{ count }})</h4>
                </div>

                <div class="table-responsive">

                    <table id="machineListTable" class="table table-bordered table-striped table-hover table-sm">

                        <thead>
                            <th>Id</th>
                            <th>Machine name</th>
                            <th>Status</th>
                            <th class=" text-center">Details</th>
                        </thead>

                        <tbody>
                            <!-- TABLE FILLED BY JS-->
                        </tbody>
                    </table>

                    <div class="clearfix"></div>

                    <!-- PAGINATOR START-->
                    <div id="pagination">
                        {% include 'progress_tracking/paginator.html' %}
                    </div>
                    <!-- PAGINATOR END -->

                </div>

            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
    </div>  <!-- end containter -->


{% endblock content %}

{% block script %}
<script>

    let loc = window.location;
    let wsStart = 'ws://';
    if (loc.protocol == 'https:') {
        wsStart = 'wss://'
    }

    let machineSocket = new WebSocket(
        wsStart + loc.host + '/ws/machine/status/'
    );

    machineSocket.onmessage = function(e) {
        console.log("machineSocket.onmessage");
        let data = JSON.parse(e.data);
        let machineIdStatus = data["machine_id_status"];
        updateMachineStatus(machineIdStatus.id, machineIdStatus.status);
    };

    machineSocket.onclose = function(e) {
        console.error('Machine socket closed unexpectedly');
    };

    let defaultPageNumber = {{ page_number }};
    let defaultPageSize = {{ page_size }};

    function fetchMachineListData(number, size) {
        console.log("fetching ...");
        let pageNumber;
        if (!number) {
            pageNumber = defaultPageNumber;
        } else {
            pageNumber = number;
        }

        let pageSize;
        if (!size) {
            pageSize = defaultPageSize;
        } else {
            pageSize = size;
        }

        let URLparameters = "?page=" + pageNumber + "&page_size=" + pageSize;

        $.ajax({
            url: "tm_api/machines/" + URLparameters,
            method: "GET",
            success: function (data) {
                let pagnatorTarget = $('#pagination');
                putPaginator(pagnatorTarget, fetchMachineListData, data, 'machineListPageSize');
                fillPageWithData(data);
                history.pushState({'page': pageNumber, 'pageSize': pageSize}, $(document).prop('title'), URLparameters);
            },
            error: function (data) {
                console.log("error");
                console.log(data);
            }
        });
    }


    function fillPageWithData(data) {
        let tableScenariosTests = $("#machineListTable");
        let tableBody = tableScenariosTests.find("tbody");
        let results = data.results;
        tableBody.html("");
        $.each(results, function(index, machine) {
            let machine_status = machine.get_last_master_scenario_status;
            let additionalStyle = "";
            if ((machine_status == "running") || (machine_status == "waiting")) {
                additionalStyle = "progress-bar-striped progress-bar-animated";
            }

            tableBody.append(
               "<tr data-machine-id='"+ machine.pk +"'>" +
                    "<td class='align-middle' style='width: 10%'>" +  machine.pk + "</td>" +
                    "<td class='align-middle' style='width: 40%'>" + machine.machine_name + "</td>" +
                    "<td class='align-middle' style='width: 40%'>" +
                        "<div class='progress' style='height: 38px;'>" +
                            "<div class='progress-bar bg-ts-" + machine_status + " " + additionalStyle + "' role='progressbar' aria-valuenow='100' aria-valuemin='0' aria-valuemax='100' style='width: 100%'>" + machine_status + "</div>" +
                        "</div>" +
                    "</td>" +
                    "<td class='align-middle text-center' style='width: 10%'>" +
                        "<a href='" + machine.absolute_url + "' class='btn btn-info btn-xs' data-toggle='tooltip' title='Info'><span class='fas fa-info xs'></span></a>" +
                    "</td>" +
                "</tr>");
        });
    }

    function updateMachineStatus(id, status) {
        let tableRow = $("tr[data-machine-id='" + id +"']");
        let progressDiv = tableRow.find(".progress");
        let additionalStyle = "";
        if ((status == "running") || (status == "waiting")) {
            additionalStyle = "progress-bar-striped progress-bar-animated";
        }
        progressDiv.html("<div class='progress-bar bg-ts-" + status + " " + additionalStyle + "' role='progressbar' aria-valuenow='100' aria-valuemin='0' aria-valuemax='100' style='width: 100%'>" + status + "</div>");
    }

    $(document).ready(function() {
        fetchMachineListData();
    });

</script>
{% endblock script %}