{% extends "progress_tracking/base.html" %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home-view' %}">Home</a></li>
    <li class="breadcrumb-item "><a href="{% url 'machine-detail-view' machine.pk %}">{{ machine.machine_name }}</a></li>
    <li class="breadcrumb-item active">machine last data</li>
{% endblock breadcrumb %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h4 class="article-title">
                <a href="{% url 'machine-detail-view' machine.pk %}" style="text-decoration: none; color: black;">{{ machine.machine_name }}</a>  <span class=" ml-3 badge bg-steel-2">last run (autoupdate)</span>
            </h4>

            <p id="firstParagraph">
            </p>

            <p class="article-content">
                <div class="m-5">
                    <table id="tableStatistics" class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 10%">Tests</th>
                                <th scope="col" style="width: 10%">Scenarios</th>
                                <th scope="col" style="width: 10%">Running</th>
                                <th scope="col" style="width: 10%">Waiting</th>
                                <th scope="col" style="width: 10%">Cancelled</th>
                                <th scope="col" style="width: 10%">Unknown</th>
                                <th scope="col" style="width: 10%">Failed</th>
                                <th scope="col" style="width: 10%">Error</th>
                                <th scope="col" style="width: 10%">Warning</th>
                                <th scope="col" style="width: 10%">Passed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="ts-testsCount"></td>
                                <td id="ts-scenariosCount"></td>
                                <td id="ts-running"></td>
                                <td id="ts-waiting"></td>
                                <td id="ts-cancelled"></td>
                                <td id="ts-unknown"></td>
                                <td id="ts-failed"></td>
                                <td id="ts-error"></td>
                                <td id="ts-warning"></td>
                                <td id="ts-passed"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <table id="tableScenarioTests" class="table table-striped table-hover table-sm">

                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Test Case</th>
                            <th>Status</th>
                            <th class=" text-center">Details</th>
                        </tr>
                    </thead>

                    <tbody>
                        <!-- TABLE FILLED BY JS-->
                    </tbody>
                </table>

                <div class="clearfix"></div>
            </p>

        </div>
    </article>

    <!-- Modal -->
    {% include 'progress_tracking/info_modal.html' %}

{% endblock content %}

{% block script %}
<script>

    let machineId = {{ machine.pk }};
    let loc = window.location;
    let wsStart = 'ws://';
    if (loc.protocol == 'https:') {
        wsStart = 'wss://'
    }

    let machineSocket = new WebSocket(
        wsStart + loc.host + '/ws/machine/' + machineId + '/last/'
    );

    machineSocket.onmessage = function(e) {
        console.log("machineSocket.onmessage");
        let data = JSON.parse(e.data);
        let machineData = data["machine_data"];
        fillPageWithData(machineData);
        assingInfoButton();
    };

    machineSocket.onclose = function(e) {
        console.error('Machine socket closed unexpectedly');
    };


    $(document).ready(function() {
        $.ajax({
            url: "/tm_api/machine_last_data/" + {{ machine.pk }},
            method: "GET",
            success: function (data) {
                fillPageWithData(data);
                assingInfoButton();
            },
            error: function (data) {
                console.log("error");
                console.log(data);
            }
            });
    });

</script>
{% endblock script %}