{% extends "progress_tracking/base.html" %}
{% block content %}

    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="container d-flex justify-content-between">
                    <h4 class="d-inline-block mt-2">Machines ({{ page_obj.paginator.count }})</h4>
                </div>

                <div class="table-responsive">

                    <table id="mytable" class="table table-bordred table-striped table-hover table-sm">

                        <thead>
                            <th>Id</th>
                            <th>Machine name</th>
                            <th>Status</th>
                            <th class=" text-center">Details</th>
                        </thead>

                        <tbody>
                            {% for machine in machines %}
                                <tr>
                                    <td class="align-middle" style="width: 10%">{{ machine.pk }}</td>
                                    <td class="align-middle" style="width: 40%">{{ machine.machine_name }}</td>
                                    <td class="align-middle" style="width: 40%">
                                        <div class="progress" style="height: 38px;">
                                            <div class="progress-bar bg-ts-{{ machine.get_last_master_scenario_status }} {% if machine.get_last_master_scenario_status in 'running,waiting' %}progress-bar-striped progress-bar-animated {% endif %} role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">{{ machine.get_last_master_scenario_status }}</div>
                                        </div>
                                    </td>
                                    </td>
                                    <td class="align-middle text-center" style="width: 10%">
                                        <a href="{% url 'machine-detail-view' machine.pk%}" class="btn btn-info btn-xs" data-toggle="tooltip" title="Info"><span class="fas fa-info xs"></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="clearfix"></div>

                    <!-- PAGINATOR START-->
                    {% include 'progress_tracking/paginator.html' %}
                    <!-- PAGINATOR END -->

                </div>

            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
    </div>  <!-- end containter -->


{% endblock content %}